* {
    font-family: Ubuntu,Arial,Helvetica,sans-serif;
}
.versiculo{
    font-family: 'Ubuntu', sans-serif;
    text-align: right;
    display: block;
    font-size: 18px;
    line-height: 20px;
    color: #aaa;
    
    font-style: italic;
    margin-bottom: 15px;
    margin-top:25px;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color:#fff;
}
a:visited {
    color:none;
  }
body{
    margin:0;
    padding:0;
   /* background-color: #222;*/
    background-image: linear-gradient(#777, #222);
}

.container{
    background-color:#aaa;
    display:flex;
    height: 80px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    box-shadow: 3px 3px 10px #888;
}
.menu{
    display: flex;
    color:#fff;
    align-items: center;
    width: auto;
    height: 80px;
   }
.Nome-site{
    font-size: 54px;
    color:rgb(220, 20, 153);
    font-weight: bold;
    text-shadow: 8px 6px 5px rgb(59, 4, 52);
    margin-left: 80px;

    
}

.linha:hover{
    background-color: #999;
   
}

.menu ul{
   list-style: none;
   display: flex;
   margin-left: 10px;
   font-size: 20px;
}
.container-janelaModal-contato{
    display: flex;
   
    justify-content: center;
    align-content: center;
}
#janelaModal-contato{
    display: none;
    position:fixed;
    z-index: 1;
    padding-top: 10px;
   
    width:50%;
    height: 30%;
    background-color: rgba(0,0,0,0.9);
    overflow: auto;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0px 0px 30px #222;
}
#janelaModal-contato span{
    font-family: cursive;
    font-size: 30px;
    color:#fff;
    text-shadow: 10px 10px 10px rgb(220, 20, 153);
}
.Alinha-contato-Rosanas{
    display: flex;
    justify-content: center;
}
.Alinha-contato-Rosanas h2{
    font-size: 23px;
    color:#fff;
}
.fechar{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.linha{
    display: flex;
    align-items: center;
    width: auto;
    height: 50px;
    
    padding:15px;
}


.logo{
    width:100px ;
    height: 60px;
    background-color: rgb(128, 117, 138);
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.5s;
    
}
.banner img{
    width:95%;
    margin-top:20px;
    margin-bottom: 20px;
    transition: all 1s;
    position: relative;
    left:0px;
}


.borda{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65%;
    background-color: #ccc;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #ccc;
    margin-top: 10px;
   
    overflow: hidden;
}


.botao-bola{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #ddd;
    margin-left: 10px;
    margin-top: 10px;
    cursor:pointer;
    box-shadow: 0px 0px 10px #aaa;
    
}
.botao-controle{
    display: flex;
    flex-direction: row;

}
#foto{
  
    max-height:400px;
    

}
.destaques{
 
    justify-content: center;
    margin-top:30px;

}
.destaques span{
    color:rgb(220, 20, 153);
   /* color: #f6832e;*/
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
  
}
.separador{
    
    width: 80%;
    height: 1px;
    margin-top: 10px;
    border-bottom: 2px dashed #dadada;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  
}
.foto-produto{
width: 50%;
box-shadow: 0px 0px 10px #b0b0b0;
cursor: pointer;
}
.foto-produto:hover{
    width: 50.4%;
    transition: 0.5s;
}
.foto-produto2:hover{
    width: 71%;
    transition: 0.5s;
}
.foto-produto3:hover{
    width: 81%;
    transition: 0.5s;
}
.foto-produto2{
    width: 70%;
    box-shadow: 0px 0px 10px #b0b0b0;
    cursor: pointer;
    
    }
.foto-produto3{
        width: 80%;
        box-shadow: 0px 0px 10px #b0b0b0;
        cursor: pointer;
        
        }
.foto-heigth-produto{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}
.container2{
   
    margin-top:20px;
    display:flex;
    height:auto;
  

   
    align-items: center;
    
   
}
.produtos{
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
   
    margin: 5px 10px;
    
    border: 1px solid transparent;
    border-radius: 6px;
}

.descricao-produto{
    margin-top: 20px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    color: #b0b0b0;
    height: 28px;
    margin-bottom: 20px;
    line-height: 20px;
   
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    text-transform: uppercase;
}
.preco-produto {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    display: block;
    font-size: 18px;
    line-height: 20px;
    color: #f6832e;
    font-weight: bold;
    margin-bottom: 4px;
    margin-top:52px;
}
footer{
    width: 100%;
    height: 200px;
    background-color:rgba(7, 10, 53, 0.698);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

footer div{
    display: block;
}
footer span{
    font-family: cursive;
    font-size: 50px;
    color:#fff;
    text-shadow: 10px 10px 10px rgb(220, 20, 153);
}

.Whats{
    
    margin: 20px;
     width: 4%;
 }
 .contato-whats{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: center;
    align-items: center;
 }
 .contato-whats span{
    font-family: cursive;
    font-size: 20px;
    color:#fff;
 }

/* FORMATAÇÃO DA JANELA MODAL - INICIO */
#janelaModal{
    display: none;
    position:fixed;
    z-index: 1;
    padding-top: 10px;
    right: 0px;
 
    top:0px;
    
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    overflow: auto;
    cursor: pointer;
}
#imagem-janelaModal{
    margin: auto;
    display: block;
    width: 100%;
    max-width: 300px;
    overflow: auto;

}

#fecha-janelaModal{
    position: absolute;
    top: 9%;
    right: 2%;
    
    color: #FFF;
    font-size: 21px;
    font-weight: bold;
    cursor: pointer;
}
/* FORMATAÇÃO DA JANELA MODAL - FIM */


@media only screen and (max-width : 950px) {
    .Nome-site {
        font-size: 26px;
       
    }
 }
 @media only screen and (max-width : 770px) {
    .Nome-site {
        font-size: 25px;
       
    }
    .destaques span {
       
        font-size: 24px;
       
    }
 }
 @media only screen and (max-width : 500px) {
    .Nome-site {
        font-size: 25px;
       
    }
    .destaques span {
       
        font-size: 20px;
       
    }
    footer span {
        font-family: cursive;
        font-size: 45px;
        color: #fff;
        text-shadow: 10px 10px 10px rgb(220 20 153);
    }
    .container {
        background-color: #aaa;
        display: flex;
        height: 80px;
        flex-direction: column;
        align-items: center;
        box-shadow: 3px 3px 10px #888;
        flex-wrap: nowrap;
        align-content: center;
    }
    #janelaModal-contato {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 10px;
        width: 95%;
        height: 41%;
        background-color: rgba(0,0,0,0.9);
        overflow: auto;
        cursor: pointer;
        border-radius: 15px;
        box-shadow: 0px 0px 30px #222;
    }
    #janelaModal-contato span {
        
        font-size: 17px;
       
    }
    .container2 {
        margin-top: 20px;
        display: flex;
        height: auto;
        align-items: center;
        flex-direction: column;
    }
 }
 @media only screen and (max-width : 350px) {

    .menu ul {
       
        font-size: 14px;
    }
 }
